<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="/images/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Welcome to the Weather App!</p>

        <form>
            <input type="text" placeholder="Location">
            <button type="submit">Search</button>
            <p id="location"></p>
            <p id="forecast"></p>
        </form>
    </div>

    {{>footer}}

    <script src="/js/index.js"></script>
</body>

</html>